.contacts .insta::before,
.contacts .face::before,
.contacts .twit::before,
.contacts .yt::before,
.contacts .spo::before {
  content: "";
  display: none;
}

@keyframes anim {
  0%, 100% {
      width: 100%;
      height: 100%;
  }
  50% {
      width: 50%;
      height: 50%;
  }
}
